/*
  main green: #2DCE9B
  font-color: #444

*/

.col-1 {
  width: 8.333%
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333%;
}

.col-8 {
  width: 66.667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.667%;
}

.col-12 {
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F7F8F9;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.7;
  min-width: 386px;
  width: 100vw;
}

.sidebar,
.main-content {
  float: left;
}

.sidebar {
  background-color: white;
  display: block;
  height: 100vh;
  min-width: 200px;
  position: fixed;
  transition: all 1s;
}

.sidebar-top {
  height: 92vh;
  padding: 20px 0 20px 35px;
}

.logo {
  height: 5vh;
  margin-bottom: 25px;
  position: relative;
}

.logo img {
  float: left;
  height: 25px;
}

.logo-text {
  float: left;
  font-size: 88%;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding-top: 2px;
  text-transform: uppercase;
}

.logo-link:link,
.logo-link:visited {
  color: #444;
  text-decoration: none;
}

.nav-list {
  list-style: none;
  margin-bottom: 30px;
}

.sub-title {
  color: #999;
  font-size: 60%;
  pointer-events: none;
  text-transform: uppercase;
}

.nav {
  margin-bottom: 10px;
}

.nav-list li {
  font-size: 90%;
  margin-bottom: 10px;
}

li a:link,
li a:visited {
  color: rgb(124, 124, 124);
  font-weight: lighter;
  text-decoration: none;
  transition: color .4s;
}

li a:hover {
  color: black;
}

li.selected {
  border-right: 4px solid #1D97A2;
}

li.selected a:link,
li.selected a:visited {
  color: #444;
  font-weight: bold;
}

.logout-area {
  border-top: 1px solid rgba(119, 119, 119, .2);
  height: 8vh;
  margin-top: 10px;
  min-height: 100px;
  padding-left: 35px;
  padding-top: 10px;
}

.logout-area p {
  font-size: 80%;
}

.logout-arrow {
  border-bottom: 2px solid #2DCE9B;
  border-left: 2px solid #2DCE9B;
  border-top: 2px solid #2DCE9B;
  border-radius: 50px;
  color: #2DCE9B;
  font-size: 12px;
  margin-right: 10px;
  padding-left: 2px;
}

.logout-link:link,
.logout-link:visited {
  color: rgb(124, 124, 124);
  text-decoration: none;
  transition: all .4s;
}

.logout-link:hover {
  color: black;
}

.hamburger {
  background: #39CD9C;
  border-radius: 100px;
  display: none;
  position: fixed;
  top: 5%;
  left: 90%;
  transform: translate(-50%, -50%);
  z-index: 100;

  height: 50px;
  width: 50px;
  transition: all .3s;
}

.hamburger img {
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hamburger:hover {
  height: 52px;
  width: 52px;
}

.hamburger:active {
  height: 50px;
  width: 50px;
}

/* #################  MAIN CONENT AREA #############################*/
.main-content {
  background-color: #F7F8F9;
  margin-left: 17vw;
  min-height: 100vh;
  padding: 50px;
}

.profile-info {
  height: 75px;
  margin-bottom: 10px;
}

.profile-image {
  height: 100%;
  border-radius: 50px;
  float: left;
  margin-right: 20px;

  box-shadow: 0 1px 3px #bbb;
}

.profile-text {
  line-height: 1.4;
  margin-left: 75px;
  padding-top: 10px;
}

.profile-text h1 {
  color: #333;
  font-weight: 500;
  font-size: 180%;
}

.profile-text h1 a:link,
.profile-text h1 a:visited {
  color: #2098A3;
  text-decoration: none;
  transition: all .4s;
}

.profile-text h1 a:hover {
  color: rgb(20, 98, 105);
}

.profile-text h1 a:active {
  color: #2098A3;
}

.profile-text h4 {
  color: #666;
  font-weight: 400;
}

.application,
.activities,
.milestones {
  background-color: white;
  box-shadow: 0 1px 5px #ddd;
  margin-top: 30px;
}

/* APPLICATION AREA #################################################### */

.application {
  padding-bottom: 20px;
}

.header {
  height: 50px;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(119, 119, 119, .2);
}

.title {
  float: left;
  color: #555;
  font-size: 85%;
}

.question-mark {
  float: right;
  height: 15px;
  cursor: pointer;
  opacity: .5;
}

.status {
  height: 50px;
  position: relative;
}

.status-bar {
  width: 90%;
  height: 10px;
  margin: 20px 20px;
  float: left;
  border-radius: 50px;
  background-color: #EEEEEE;
  overflow: hidden;
}

.fill-bar {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #2DCE9B;
  overflow: hidden;
  transform: translateX(-40%);
  transition: all 1s;
  animation: fadeInRight 1s;
}

@keyframes fadeInRight {
  0% {
    transform: translateX(-100%);
  }

  40% {
    translate: translateX(-60%);
  }

  75% {
    transform: translateX(-39.5%);
  }

  100% {
    transform: translateX(-40%);
  }
}

.home {
  width: auto;
  height: 25px;
  margin-top: 10px;
  float: left;
  /* position: absolute;
  top: 30%;
  left: 97%;
  transform: translate(-100%, -50%); */
}

.steps {
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.current-step,
.next-step,
.divider {
  float: left;
  margin-right: 20px;
  clear: inherit;
}

.divider {
  width: 1px;
  height: 100%;
  background-color: rgba(119, 119, 119, .2);
}

.sub-title {
  text-transform: uppercase;
}

.step {
  color: #777;
  font-size: 90%;
}

/* ################# ACTIVITY AREA #####################################*/

.activities {
  float: left;
  margin-right: 20px;
  width: 64%;
}

.activity {
  padding: 10px 20px;
  height: 75px;
  border-bottom: 1px solid rgba(119, 119, 119, .2);
}

.act-symbol,
.act-summary,
.act-bits {
  float: left;
  height: 50px;
}

.act-symbol {
  width: 8.33%;
  height: 100%;
  margin-right: 10px;
}

.act-symbol img {
  height: 70%;
  padding-top: 5px;
}

.comment {

}

.act-text {
  height: 100%;
}

.act-summary {
  /* width: 66%; */
}

.act-title {
  height: 50%;
  font-size: 80%;
  font-weight: bold;
  color: #555

}

.act-info {
  height: 50%;
  font-size: 80%;
  color: #777;
}

.act-bits {
  width: 90px;
  text-align: right;
  float: right;
}

.act-updated {
  height: 50%;
  font-size: 70%;
  font-weight: 400;
  color: #777;
}

.act-comment:link,
.act-comment:visited {
  font-size: 80%;
  height: 50%;
  text-decoration: none;
  color: #2DCE9B;
  transition: all .4s;
}

.act-comment:hover {
  color: rgb(28, 126, 95);
}

.act-comment:active {
  color: rgb(37, 167, 126);
}

/* MILESTONES AREA ########################################################## */

.milestones {
  width: 33%;
  float: right;
}

.milestone {
  padding: 10px 20px;
  height: 66px;
  border-bottom: 1px solid rgba(119, 119, 119, .2);
}

.mile-text {
  float: left;
}


.mile-title {
  font-size: 90%;
  color: #777;
  margin-bottom: -4px;
}

.mile-date {
  font-size: 90%;
  color: #555;
  font-weight: bold;
}

.mile-status {
  float: right;
  background: #1D97A2;
  padding: 2px 5px;
  margin-top: 10px;
  border-radius: 2px;

  font-size: 50%;
  text-transform: uppercase;
  letter-spacing: .6px;
  color: white;

  pointer-events: none;
}


/* MEDIA STUFF */

@media all and (max-width: 1028px) {

  .sidebar {
    display: none;
    width: 200px;
    z-index: 10;
  }

  .hamburger {
    display: block;
  }

  .main-content {
    margin: 0 auto;
    width: 100%;
  }

  .profile-info {
    margin: 50px auto;
    padding-left: 10px;
    width: 100%;
  }

  .application,
  .activities,
  .milestones {
    margin: 20px auto;
    width: 100%;
  }

}

@media all and (max-width: 850px) {
  .status-bar {
    width: 85%;
  }
}

@media all and (max-width: 610px) {
  .main-content {
    padding: 10px 10px;
  }
}

@media all and (max-width: 530px) {

  body {
    font-size: 15px;
  }

  .profile-text h1 {
    font-size: 140%;
  }

  .application {
    height: 220px;
  }
  .status-bar {
    width: 80%;
  }

  .current-step,
  .next-step,
  .divider {
    float: none;
  }

  .current-step {
    margin-bottom: 10px;
  }
  .divider {
    width: 100%;
    height: 1px;
  }

  .next-step {
    margin-top: 10px;
  }

  .activity {
    height: auto;
    width: 100%;
  }

  .act-symbol {
    height: 100%;
    width: 50px;
    margin-right: 30px;
  }

  .act-symbol img {
    width: 100%;
  }

  .act-summary,
  .act-bits {
    float: none;
    height: auto;
    line-height: 2;
  }

  .act-bits {
    margin-bottom: 20px;
    width: 100%;
    margin-left: 80px;
  }
  .act-updated {
    float: left;
    height: auto;
  }
  .act-comment {
    float: left;
    margin-left: 20px;
  }
}